

div.button {
border-radius: 50% ;
border: 1rem solid #aaccff;
margin:none;
padding:none;
background-color: transparent;
transition: 1.5s;
overflow:visible;
}


div.button p {
    font-size: 4rem;
    color: #1133ff;
    text-decoration-color: #3355ff;
    text-decoration-line: underline;
    margin-bottom: 1em;
    margin: 0px;;
    background-color: #5577ff;
    border: 1rem solid #7799fe;
    width: 10rem;
    height: 10rem;
    text-align:center;
    overflow: visible;
    border-radius: 20%;
    line-height: 10rem;
    transition: .5s;
}

div.button:hover {
    transition: .5s;
    border-color: #57f;
    color: #fff;
    border-radius: 10%;
    
}

div.button p:hover {
    transition: .2s ;
    color: #fff;
}


#CButton::after {
    transition: .5s;
    content:"Codeblocks! Fun!";
    position: relative;
    left: 1.5rem;
    bottom: 4rem;
    line-height: 0px;
    font-size: 1rem;
    color: transparent;
    font-family: monospace;
}

#WebButton::after {
    transition: .5s;
    content:"Brackets! CSS! JavaScript!";
    color: transparent;  
    position: relative;
    left: .4rem;
    bottom: 4rem;
    line-height: 0px;
    font-size: .8rem;
    transition: .2s;
    font-family: monospace;
}

#CButton:hover::after{
    transition: .2s;
    content:"Codeblocks! Fun!";
    position: relative;
    left: 1.5rem;
    bottom: 4rem;
    line-height: 0px;
    font-size: 1rem;
    color: black;
    font-family: monospace;
}

#WebButton:hover::after{
    content:"Brackets! CSS! JavaScript!";
    position: relative;
    color: black;
    left: .4rem;
    bottom: 4rem;
    line-height: 0px;
    font-size: .8rem;
    transition: .2s;
    font-family: monospace;
}




#navbar {
    
    float : right;  
}

#about {
    float: left;
    
}

#buttonContainer {
    padding: 0px;
    border: 0px;
    background-color: transparent;
    overflow:  hidden;
    display: block;
}

#WebButton { 
    
    float: right;
    
} 

#CButton {
    
    float: left;
    
}

.button p {
    text-indent: 0px
}

