html {
    font-size: 12pt;
    font-family: "Lora", serif;
    color: #333;
    background-color: #ddf;
    
}
 
h1, h2, h3, h4, h5 {
    font-family: "PT Sans", sans-serif;
    color: black;   
}

/*title*/
h1 {
    font-size: 2.5rem;
    padding-left: 2rem;
    line-height: 0px;   
}


#title aside {
    line-height: 1.1rem;
    float:right;
}


body{
    max-width: 50rem;   
    margin: auto;
    background-color: white;
    height:auto;
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-right: 10px  solid #444;
    border-left: 10px  solid #444;
    /*keeps title from breaking*/
    min-width: 720px;
    
}    

p {
    text-indent: 2em;
}

div {
   
    background-color: #fff;
    padding: 1rem; 
    margin: 1rem;
    border: solid .5rem  #aaccff;
    border-radius: .5rem;
    overflow: auto;
   
}    

/*about stuff*/
#about {
    background-color: transparent;
    border-color:transparent;   
    border-top:  .5rem #aaccff solid ;
    border-bottom: .5rem #aaccff solid;
    overflow:visible;
    margin-right:0px;
}
/*1st letter crap*/

#about>:first-letter {
    font-size: 120%;
    text-transform: uppercase;
    line-height: 1rem;
}

#about>h3:first-letter {
    font-size: 5rem;
}

span{ 
    color: #113377;
}

#about h3, #about p {
    margin-bottom: 0px;
}


/*nav stuff*/

nav li:hover a {
    transition: .2s;
    color: black;
    
}



nav li:hover {
    background-color: white;
    border: .2em solid white ;
    border-radius: 2em;
    border-bottom-color: white;
    border-top-color: white;
    background-color: transparent;
}

nav .justText:hover a{
    color: hsla(120, 0%, 50%, .2);
}

nav a {
    color:  #555;
}

li.justText {
    text-align: center;
    background-color: hsla(120, 1%, 800%, .5);
  
}

li.justText::after {
    content: "  You Are Here";
    font-size: 100%;
    font-family: "Source Code Pro";
    font-weight: 500;
    color: black;
    position:relative;
    display:block;
    text-align: center;
    bottom: .65rem;
    line-height: 0px;
    
}

a.justText { 
    color: hsla(120, 0%, 50%, .2);
    font-size: 100%; 
    text-decoration: line-through;
}


/*ewww fixes*/

nav li {
    transition: .5s;
    list-style:none;   
    border:.2rem solid white; 
    text-align: center;
    background-color: white;  
}


nav ul {
    padding-left: 0px;
}    

nav ul li:first-child {
    margin-top: 0rem;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: .5;
}
/****standard layout*/
    
#decor::after {
  
}

#decor{
    
    width: ; 
    border:none;  
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    overflow: hidden;
    
}

#navbar {
    
    float:right;  
    width: 25%;
    margin-top: 0px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: none ;
    border-top: none ;
   
}

#about {
    
    float: left;
    width: 55%;
    margin-left: 0px;
    margin-top: 0px;
    
}

#decor div {
    
    margin-right: 0px;  
    margin-bottom: 0px;
}