

div.button {
    border-radius: 50% ;
    border: 1rem solid #aaccff;
    margin:none;
    padding:none;
    background-color: transparent;
    transition: 1.5s;
    overflow:visible;
    font-family: "PT Sans", sans-serif;
}


div.button p {
    font-size: 4rem;
    color: #1133ff;
    text-decoration-color: #3355ff;
    text-decoration-line: underline;
    margin-bottom: 1em;
    margin: 0px;;
    background-color: #5577ff;
    border: 1rem solid #7799fe;
    width: 10rem;
    height: 10rem;
    text-align:center;
    overflow: visible;
    border-radius: 20%;
    line-height: 10rem;
    transition: .5s;
}

div.button:hover {
    transition: .5s;
    border-color: #57f;
    color: #fff;
    border-radius: 10%;
    
}

div.button p:hover {
    transition: .2s ;
    color: #fff;
}



#navbar {
    
    float : right;  
}

#about {
    float: left;
    
}

#buttonContainer {
    padding: 0px;
    border: 0px;
    background-color: transparent;
    overflow:  hidden;
    display: block;
}

#WebButton { 
    
    float: right;
    
} 

#CButton {
    
    float: left;
    
}

.button p {
    text-indent: 0px
}

